<!-- about.html -->

{% extends "one/base.html" %}

{% block content %}


<div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>About Us</h1>
      </div>
    </div>
  
</div>

<section id="mission">
  <h2>Our Mission</h2>
  <p>Welcome to the DAE Sports and Cultural Council,
     a vibrant community hub dedicated to nurturing talent, promoting cultural diversity, 
     and fostering a spirit of sportsmanship. Our mission is to empower individuals through the power of sports and cultural activities,
     creating a platform for talent to flourish and communities to unite.</p>
</section>

<section id="history">
  <h2>Our History</h2>
  <p>Founded in [Year], DAESCC began as a small group of sports and culture enthusiasts.
     Over the years, it has grown into a leading council that orchestrates a wide array of events,
      celebrating the rich tapestry of our cultural heritage and promoting sports as an integral 
      part of community life.</p>
</section>

<section id="vision">
  <h2>Our Vision</h2>
  <p>We envision a community where sports and culture are accessible to all, 
    fostering personal growth, mutual respect, and social cohesion. 
    Our aim is to be a catalyst for positive change, bringing people together, 
    nurturing talents, and contributing to a vibrant, inclusive society.</p>
</section>

<section id="values">
  <h2>Core Values</h2>
  <ul>
      <li>Inclusivity</li> <p>Embracing diversity and providing equal opportunities for all.</p>
      <li>Excellence</li> <p> Striving for the highest standards in all our activities.</p>
      <li>Community</li>
      <li>Integrity</li>
      <li>Innovation</li>
  </ul>

  <h2>Our Team</h2>
  <p>DAESCC is led by a dedicated team of professionals and passionate volunteers, 
    each bringing their unique skills and enthusiasm to the council. 
    From seasoned sports coaches to experienced cultural curators, 
    our team works tirelessly to create memorable experiences for our community.</p>
    <section class="team">
      <h2>Meet the Team</h2>
    
      <article class="member">
        <h3>[Name], President</h3>
        <p>[Brief bio or vision statement]</p>
      </article>
    
      <article class="member">
        <h3>[Name], Vice President of Sports Programs</h3>
        <p>[Brief bio or vision statement]</p>
      </article>
    
      <article class="member">
        <h3>[Name], Vice President of Cultural Events</h3>
        <p>[Brief bio or vision statement]</p>
      </article>
    
      <article class="member">
        <h3>[Name], Community Outreach Coordinator</h3>
        <p>[Brief bio or vision statement]</p>
      </article>

</section>



{% endblock %}