<!-- home.html -->

{% extends "one/base.html" %}

{% block content %}

<div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>Gallery</h1>
      </div>
    </div>
    
</div>

<section class="gallery">
    <figure>
      <img src="image1.jpg" alt="Image 1 Description">
      <figcaption>Image 1 Title</figcaption>
    </figure>

    <figure>
      <img src="image2.jpg" alt="Image 2 Description">
      <figcaption>Image 2 Title</figcaption>
    </figure>

    </section>


{% endblock %}